:root {
  --color-black: #000000;
  --color-gold: #ffd700;
  --color-blue: #0000ff;
  --color-green: #008000;
  --color-fuchsia: #ff00ff;
  --color-red: #ff0000;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  color: #000000;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  color: #000000;
  font-size: 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 20px;
}
