.header {
  width: 1000px;
  display: flex;
  margin-bottom: 10px;
  padding: 0 20px;
}

.title {
  font-size: 16px;
  line-height: 23px;
}

.addTodoButton {
  font-size: 16px;
  margin-left: 50px;
}
